@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light'); @import url('https://fonts.googleapis.com/css?family=Amaranth');

body{
font-family: 'Amaranth', sans-serif;  
background-color:#E7AF84;
  text-align:center;
}


h1{
  font-family: 'Shadows Into Light', cursive;
  color: black;
  font-size:60px;
  margin: 0px;}







 



  
